.new-blog {
    background-color: rgba(0, 0, 0, 0.308);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;

    .new-blog-container {
        min-width: 380px;
        min-height: 250px;
        background-color: rgb(219, 219, 219);
        border: 1px solid black;

        .new-blog-input {
            border: 1px solid black;
        }
    }
}

.new-blog-hidden {
    display: none;
}