.button {
    border: 1px solid black;
    width: fit-content;
    padding: 3px 6px;
    background-color: rgb(148, 180, 93);

    &:hover {
        cursor: pointer;
        background-color: rgb(67, 88, 30);
        color: white;
    }
}